@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.dashb-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .dashb-container {
    flex-direction: column;
  }
}
