@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  background-color: #e5e5e5;
}

.reservasi-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .reservasi-container,
  .bagian-atas {
    flex-direction: column;
  }

  .bagian-atas .icon {
    align-items: flex-start;
  }

  .iklan {
    justify-content: center;
  }

  .foot-modal .button-batal {
    width: 35%;
  }

  .foot-modal .button-lanjutkan {
    width: 35%;
  }
}

.bagian-atas {
  margin-top: 2%;
  margin-bottom: 4%;
}

.tulisan-reward {
  font-size: 2rem;
  font-weight: 600;
  color: #4e5d78;
}

.search-bar {
  background-color: #fafbfc;
  width: 50%;
  border-radius: 0.938rem;
}

.search-bar .form-search,
.search-bar-rs .form-search {
  border: 0ch;
  background-color: #fafbfc;
}

.calendar,
.notification {
  background-color: #fafbfc;
  border-radius: 0.938rem;
}

.teks-intro {
  margin: 4%;
}

.teks-intro h2 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #4e5d78;
}

.judul-modal {
  font-weight: 400;
  font-size: 1.25rem;
  color: #4e5d78;
  margin-bottom: 5%;
}

.pilih-tanggal {
  font-weight: 400;
  font-size: 1.25rem;
  color: #4e5d78;
}

.modal-body-reservasi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-modal {
  justify-content: center;
  margin-bottom: 3%;
}

.foot-modal .button-batal {
  border: 1px solid #fbb6b6;
  color: #fbb6b6;
  border-radius: 15px;
  width: 28%;
  margin-right: 7%;
}

.foot-modal .button-batal:hover {
  color: white;
  background-color: #fbb6b6;
  box-shadow: 0px 8px 25px rgba(251, 182, 182, 0.35);
}

.foot-modal .button-lanjutkan {
  background: linear-gradient(20.13deg, #f65555 -7.81%, #fbb6b6 125.84%);
  border-radius: 15px;
  color: white;
  width: 28%;
}

.foot-modal .button-lanjutkan:hover {
  color: white;
}

.reservasi-container .search-bar-rs {
  margin-left: 4%;
  background-color: #fafbfc;
  border-radius: 0.938rem;
  width: 70%;
}

.text-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #f98686;
  font-size: 0.813rem;
}

.modal-lg .close-button {
  border: none;
}

.modal-body .field-persyaratan {
  width: 65%;
}

.field-persyaratan {
  margin-bottom: 5rem;
}

.field-persyaratan .judul-persyaratan {
  font-weight: 600;
  color: #4e5d78;
}

.card-container {
  border-radius: 1rem;
  padding: 0.5rem;
}

.card-container .lokasi-rs {
  font-weight: 600;
  font-size: 1rem;
  color: #4e5d78;
}

.muted-text {
  font-weight: 400;
  font-size: 0.813rem;
  color: #8a94a6;
}

.card-container .card-icon {
  margin-right: 3%;
}

.card-container .card-button {
  border: 1px solid #fbb6b6;
  border-radius: 15px;
  color: #f98686;
}

.card-container .card-button:hover {
  color: white;
  background-color: #fbb6b6;
  box-shadow: 0px 8px 25px rgba(251, 182, 182, 0.35);
}

.iklan .space-iklan {
  width: 12.875rem;
  height: 45.688rem;
  background-color: #fafbfc;
}
